In [94]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [95]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ancud,CL,2021-12-07 10:04:39,-41.8697,-73.8203,56.23,93,97,10.83
1,1,Kaduqli,SD,2021-12-07 10:05:05,11.0167,29.7167,97.61,12,9,9.04
2,2,Praia Da Vitoria,PT,2021-12-07 10:05:05,38.7333,-27.0667,61.75,85,67,16.55
3,3,Najran,SA,2021-12-07 10:04:10,17.4924,44.1277,77.29,12,0,10.11
4,4,Sibolga,ID,2021-12-07 10:05:06,1.7427,98.7792,83.71,70,17,2.73

In [96]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [97]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
gmaps

In [98]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
fig = gmaps.figure(center=(30.0, 55.0), zoom_level=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

In [103]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kaduqli,SD,2021-12-07 10:05:05,11.0167,29.7167,97.61,12,9,9.04
4,4,Sibolga,ID,2021-12-07 10:05:06,1.7427,98.7792,83.71,70,17,2.73
5,5,Nosy Varika,MG,2021-12-07 10:05:06,-20.5833,48.5333,84.02,60,27,10.56
13,13,Saint-Philippe,RE,2021-12-07 10:05:08,-21.3585,55.7679,85.55,73,29,11.88
24,24,Mogadishu,SO,2021-12-07 10:02:35,2.0371,45.3438,83.43,68,98,16.98
29,29,Butaritari,KI,2021-12-07 10:05:11,3.0707,172.7902,82.89,78,100,13.89
36,36,Yumbe,UG,2021-12-07 10:05:13,3.4651,31.2469,91.20,26,96,4.74
39,39,Salalah,OM,2021-12-07 10:05:14,17.0151,54.0924,83.26,32,0,7.18
41,41,Cairns,AU,2021-12-07 10:05:15,-16.9167,145.7667,80.55,84,8,5.75
44,44,Busselton,AU,2021-12-07 10:05:15,-33.6500,115.3333,86.09,37,0,9.69

In [104]:
preferred_cities_df.count()

City_ID       102
City          102
Country       101
Date          102
Lat           102
Lng           102
Max Temp      102
Humidity      102
Cloudiness    102
Wind Speed    102
dtype: int64

In [105]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Kaduqli      SD     97.61  11.0167   29.7167
4          Sibolga      ID     83.71   1.7427   98.7792
5      Nosy Varika      MG     84.02 -20.5833   48.5333
13  Saint-Philippe      RE     85.55 -21.3585   55.7679
24       Mogadishu      SO     83.43   2.0371   45.3438
29      Butaritari      KI     82.89   3.0707  172.7902
36           Yumbe      UG     91.20   3.4651   31.2469
39         Salalah      OM     83.26  17.0151   54.0924
41          Cairns      AU     80.55 -16.9167  145.7667
44       Busselton      AU     86.09 -33.6500  115.3333

In [106]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [107]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f'There is No Hotel in {hotel_df.loc[index,"City"]}')
hotel_df

There is No Hotel in Adre
There is No Hotel in Kaniama
There is No Hotel in Thinadhoo
There is No Hotel in Nioro
There is No Hotel in Nioki
There is No Hotel in Kampene
There is No Hotel in Manuk Mangkaw
There is No Hotel in Madimba
There is No Hotel in Dekar
There is No Hotel in Tingi

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kaduqli,SD,97.61,11.0167,29.7167,فندق الله جابو
4,Sibolga,ID,83.71,1.7427,98.7792,Hotel Syariah CN Darussalam
5,Nosy Varika,MG,84.02,-20.5833,48.5333,Hotel Volazara
13,Saint-Philippe,RE,85.55,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
24,Mogadishu,SO,83.43,2.0371,45.3438,Hotel Juba
...,...,...,...,...,...,...
522,Harper,LR,82.42,4.3750,-7.7169,Screensaver
530,Indramayu,ID,82.11,-6.3264,108.3200,Grand Trisula Hotel
537,Kalmunai,LK,82.99,7.4167,81.8167,VS Villa
555,Angoche,MZ,88.86,-16.2325,39.9086,Guest House HESADA
559,Tingi,TZ,86.00,-11.3000,35.0333,

In [108]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [112]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [114]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [115]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))