In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [29]:
gmaps.configure(api_key=g_key)
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df

       latitude   longitude  magnitude
0     65.193300 -149.072500       1.70
1     38.791832 -122.780830       2.10
2     38.818001 -122.792168       0.48
3     33.601667 -116.727667       0.78
4     37.378334 -118.520836       3.64
...         ...         ...        ...
8599  19.331500 -155.182200       0.80
8600  41.819700 -119.622400       2.20
8601  38.771999 -122.720497       1.91
8602  34.608333 -118.641333       1.93
8603  41.905500 -119.625000       4.21

[8604 rows x 3 columns]

In [41]:
locations = earthquake_df[['latitude','longitude']]
weights=earthquake_df['magnitude']
fig =gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations,weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
locations =[(51.5,0.1),(57.7,0.2),(51.4,-0.2),(51.49,0.1)]
heatmap_layer = gmaps.heatmap_layer(locations)
fig =gmaps.figure()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
tehran_coordinates = (35.6892, 51.3890)
#The 'map_type' trait of a Figure instance expected any of ['ROADMAP', 'HYBRID', 'TERRAIN', 'SATELLITE']
gmaps.figure(center= tehran_coordinates,zoom_level=13,map_type='TERRAIN')

Figure(layout=FigureLayout(height='420px'))

In [67]:
figure_layout = {
    'width':"450px",
    'height':"450px",
    'border':'3px solid red',
    'padding':'3px'
}
gmaps.figure(layout=figure_layout,center= tehran_coordinates,zoom_level=12,map_type='HYBRID')

Figure(layout=FigureLayout(border='3px solid red', height='450px', padding='3px', width='450px'))

In [89]:
figure_layout = {
    'width':"450px",
    'height':"450px",
    'border':'3px solid red',
    'padding':'3px'
}
fig = gmaps.figure(layout=figure_layout,map_type='HYBRID',zoom_level=4,center=(16.46,10.82))

locations= gmaps.datasets.load_dataset_as_df('acled_africa')
heatmap_layer = gmaps.heatmap_layer(locations=locations)
heatmap_layer.gradient=[
    'white',
    'silver',
    'gray',
]
#heatmap_layer.max_intensity=100
#heatmap_layer.point_radius = 5
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='3px solid red', height='450px', padding='3px', width='450px'))

In [90]:
marker_locations = [
(-34.0, -59.166672),
(-32.23333, -64.433327),
(40.166672, 44.133331),
(51.216671, 5.0833302),
(51.333328, 4.25)
]
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
nuclear_power_plants = [
{'name': 'Atucha', 'location': (-34.0, -59.167), 'active_reactors': 1},
{'name': 'Embalse', 'location': (-32.2333, -64.4333), 'active_reactors': 1},
{'name': 'Armenia', 'location': (40.167, 44.133), 'active_reactors': 1},
{'name': 'Br', 'location': (51.217, 5.083), 'active_reactors': 1},
{'name': 'Doel', 'location': (51.333, 4.25), 'active_reactors': 4},
{'name': 'Tihange', 'location': (50.517, 5.283), 'active_reactors': 3}
]
print (nuclear_power_plants)
plant_locations = [plant['location'] for plant in nuclear_power_plants]
print (plant_locations)
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Number reactors</dt><dd>{active_reactors}</dd>
</dl>
"""
print(info_box_template)

plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]
print(plant_info)
marker_layer = gmaps.marker_layer(plant_locations, info_box_content=plant_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

[{'name': 'Atucha', 'location': (-34.0, -59.167), 'active_reactors': 1}, {'name': 'Embalse', 'location': (-32.2333, -64.4333), 'active_reactors': 1}, {'name': 'Armenia', 'location': (40.167, 44.133), 'active_reactors': 1}, {'name': 'Br', 'location': (51.217, 5.083), 'active_reactors': 1}, {'name': 'Doel', 'location': (51.333, 4.25), 'active_reactors': 4}, {'name': 'Tihange', 'location': (50.517, 5.283), 'active_reactors': 3}]
[(-34.0, -59.167), (-32.2333, -64.4333), (40.167, 44.133), (51.217, 5.083), (51.333, 4.25), (50.517, 5.283)]

<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Number reactors</dt><dd>{active_reactors}</dd>
</dl>

['\n<dl>\n<dt>Name</dt><dd>Atucha</dd>\n<dt>Number reactors</dt><dd>1</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Embalse</dd>\n<dt>Number reactors</dt><dd>1</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Armenia</dd>\n<dt>Number reactors</dt><dd>1</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Br</dd>\n<dt>Number reactors</dt><dd>1</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Doel</dd>\n<dt>Number reactors</dt><dd>4</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Tihange</dd>\n<dt>Number reactors</dt><dd>3</dd>\n</dl>\n']

Figure(layout=FigureLayout(height='420px'))